body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links {
  width: 100%;
  text-decoration: none;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials {
  width: 100%;
  font-size: 1.2rem;
}
.f-info-socials i {
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */

.listing-card {
  margin-bottom: 2rem;
  border: none !important;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-button {
  background-color: #fe424d !important;
}
.edit-button {
  background-color: #fe424d !important;
}

.show-img {
  height: 30vh;
}

/* Thumb (the round slider handle) */
.styled-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ff6f00;
  cursor: pointer;
  transition: 0.3s;
}




